/* Google FONTS */

.sora-font {
    font-family: "Sora", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  .adlam-display-regular {
    font-family: "ADLaM Display", serif;
    font-weight: 400;
    font-style: normal;
  }

  .svg-huppish{
    display: none;
  }

  .typing-effect{
    display: inline-block;
  }
  .typed-out{
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    animation: 
      typing 1s forwards;
    font-size: 1.6rem;
    width: 0;
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  @media screen and (max-width:640px) {
    .huppish{
      display: none;
    }

    .svg-huppish{
      display: block;
    }


  }
  